@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.icon {
padding-top: 10px;
}

body {
    background-color: #ffffff;
    /* Accent Color 1 */
    color: #333333;
    /* Accent Color 2 */
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

header {
    background-color: #005f99;
    /* Primary Color */
    color: #ffffff;
    /* Accent Color 1 */
}

nav {
    text-align: center;
    background-color: #005f99;
    /* Primary Color */
}

nav a {
    text-align: center;
    color: #ffffff;
    /* Accent Color 1 */
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #66cc33;
    /* Secondary Color */
    color: #ffffff;
    /* Accent Color 1 */
}

a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
    color: #005f99;
    /* Primary Color */
}

#hero-msg h4 {
    text-align: center;
    color: #000000;
    /* Secondary Color */
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 720px;
    background-color: #005f99;
    /* Primary Color */
}

.book,
.join {
    background-color: #ffffff;
    /* Secondary Color */
    color: #000000;
    /* Accent Color 1 */
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #005f99;
    /* Primary Color */
    color: #ffffff;
    /* Accent Color 1 */
}

.msg {
    background-color: #66cc33;
    /* Secondary Color */
    padding: 35px;
}

.msg h2 {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #323232;
    font-style: italic;
    /* Accent Color 2 */
}

.msg p {
    color: #333333;
    /* Accent Color 2 */
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #333333;
    /* Accent Color 2 */
    color: #ffffff;
    /* Accent Color 1 */
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #ffffff;
    /* Accent Color 1 */
    text-decoration: none;
}

footer a:hover {
    color: #66cc33;
    /* Secondary Color */
}

.logo,
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

/* Additional styles for text on black background */
h1,
h2,
h3,
h4,
h5,
p {
    color: #333333;
    /* Accent Color 2 */
}

h3.list,
li {
    color: #333333;
    /* Accent Color 2 */
}

.home-title {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: bold;
    color: #66cc33;
    /* Secondary Color */
    margin-top: 10px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px; 
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
}
.card-img {
border: 10px solid #333333;
}
main section img {
    box-sizing: border-box;
}